@media (max-width:768px) and (min-width:500px){
.nav ul li{font-size: 0px;
    width:5vw;}

    .nav-sidebar{
        width: 13vw;
       
        overflow-y: scroll;
    }
    .nav{width: 12vw;
        position: relative;right: 48px;
    }
.tweet-button{
    padding: 20px 20px;
    border-radius: 50px;
    font-size: 0;
}
.main-status-nav .box{
    display: none;

}
.main-status-button{
    margin-right: 20px;
   
}
.pic-tweet img{
    width: 36vw;
    height: 53vh;
}
.tweet-button-2{
    width:40%;
    
}
.main-status-nav .view{
    display: none;

}

.login-nav{
    display: none;
}
.main-nav{
    width:100%;
}
.main-header-nav{
margin-top: 20px;
}
.nav ul li:hover{
    border-radius: 50px;
    
    text-align: center;
}
.rightbar-nav{
    display: none;
}

}









































