@media screen and (max-width:1075px) {
.nav ul li{
    font-size: 0px;
    width: 5vw;
    padding: 0;margin: 0;
    padding-top: 20px;
}
.material-icons{
    font-size: 25px;
    
}
.main-status-nav{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

    .nav-sidebar{
        width: 15vw;
        height: 87vw;
      position: fied; 
      
    }
    .nav{width:5vw;
        position: relative;left: 10px;
       
    }
.tweet-button{
    padding: 20px 20px;
    border-radius: 50px;
    font-size: 0;
}
.main-status-nav .box{
    display: none;

}
.main-status-button{
    margin-right: 20px;
   
}
.pic-tweet img{
    width: 30vw;
    height: 47vh;
}
.tweet-button-2{
    width:40%;
    
}
.profile-pic img{background-color: aqua;
    position: relative;
    right: 30px;
}
.main-status-nav .view{
    display: none;

}
.login-nav:hover{
display: none;
}

.username span{
    display: none;
}
.main-nav{
    width: 100%;
    
    
}
.main-header-nav{
margin-top: 20px;
}
.nav ul li:hover{
    border-radius: 50px;
    
    text-align: center;
}
.rightbar-nav{
    width:0px;
    
}

}

@media screen and (max-width:995px) {
    .nav ul li{font-size: 0px;
        width:5vw;
        padding: 0;margin: 0;
        padding-top: 20px;
    }
    .material-icons{
        font-size: 25px;
        
    }
    .main-status-nav{
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
        .nav-sidebar{
            width: fit-content;
            height: 87vw;
          position:relative; 
          
          
        }
        .nav{width:5vw;
            position: relative;left: 10px;
           
        }
    .tweet-button{
        padding: 20px 20px;
        border-radius: 50px;
        font-size: 0;
    }
    .main-status-nav .box{
        display: none;
    
    }
    .main-status-button{
        margin-right: 20px;
       
    }
   
    .tweet-button-2{
        width:40%;
        
    }
    .profile-pic img{background-color: aqua;
        position: relative;
        right: 30px;
    }
    .main-status-nav .view{
        display: none;
    
    }
    .login-nav:hover{
    display: none;
    }
    
    .username span{
        display: none;
    }
    .main-nav{
    width: 100%;
        
        
    }
    .main-header-nav{
    margin-top: 20px;
    }
    .nav ul li:hover{
        border-radius: 50px;
        
        text-align: center;
    }
    .rightbar-nav{
       display: none;
       
        width: 0px;
    }
    .pic-tweet{
 margin-right: 100px;
    }

    .pic-tweet img{
        width: 220px;
        height: 300px;
        border-radius: 30px;
    }
}
    @media screen and (max-width:499px) {

        .nav-sidebar{
            display: none;
        }
        .main-nav{
            width: 100%;
        }
        .rightbar-nav{
            display: none;
             background: pink;
             width: 0px;
             display: none;
         }
         .pic-tweet img{
            width: 40vw;
            height: 45vh;
            position: relative;
            right: 30px;
        }

}







































