*{padding: 0;
    margin: 0;}
body{
    background-color: #FFFFFF;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-seri;
    font-size: 22px;
    font-weight: 350;
}
.header{
    
   display:flex;
}
.nav-sidebar{
    
    width: 23%;
    border-right: 1px solid grey;
    overflow-y: scroll;
    
    
    
}
.nav{
    display:block;   
    margin-top: 10px;
    margin-right: 6px;
    margin-left:55px;
}
.nav img{
margin-left: 10px;
}

   .material-icons{
margin-right: 15px;
   }
   .nav ul{
    text-align: center;
    width: 58%;
    
   }
.nav ul li{ 
    display: flex;
    list-style: none;
margin-top: 19px;



}
.nav-sidebar span{
    font-size: 30px;

margin-left: 5px;
}
.tweet-button{
    border: 0 solid black;
    box-sizing: border-box;
    border-radius: 30px; padding: 10px 90px;
    background: #1a8cd8;margin-top: 11px
}

.login-nav span{
    width: 70px;
}
.nav ul li:hover{
    background-color: #c1c1c1;
    border-radius: 50px;
    height: 50px;align-items: center;
   width: 100%;
}
.home{
    font-weight: 500;
}
.login-nav{
    display:inline-flex;flex-direction: row ;
margin-top: 22px;
}
.login-nav span{
    font-size: 18px;
}
.logo{
font-size: 50px;

}
.username{
   display: flex; 
   flex-direction: column;
 position: relative;right:15px;
}
.username span{
    font-size: 15px;
}
.bold{
    font-weight: 500;
}
.login-nav:hover{
    background-color: #c1c1c1;
    border-radius: 50px;padding-right: 50px;
    height: 60px;
    align-items: center;
}
/*main*/ 
.main-nav{
    width:44.7%;
    border-right: 1px solid rgb(5, 3, 3);
    margin-right: 14%;
}
.main-header{
    width: 100%;
    height: 100%;
    
}
.main-header p{
    margin-left: 24px;
    margin-top: 13px;
    border: 0 solid black;
    font-weight: 700;
    font-size: 20px;
}
.main-header-nav{
    display: flex;justify-content: space-between;
margin-top:40px;
}
.main-header-nav button{
    width :70%;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;background: none;
    color:#536471
}
.main-status{
    width: 100%;
}
.main-createtweet{
    display: flex;
    margin-top: 15px;
}

.material-icons{
    font-size: 45px;
    margin-left: 19px;
}
.main-createtweet span{
    padding: 2px 0px;

}
.group span{
    flex-direction: column;
}
.group select{
    border-radius: 50px;padding:0px 50px;
    font-size: 14px;;
}
.group p
{margin:0;
    color:#536471
margin-top:5px;
}
.main-status-nav-box{
   display:flex;
   width:100%;
   margin-top: 7px;
   
   border-bottom:1px solid grey ;
   
}
.main-status-nav{
   width: 100%;
   
}
.main-status-nav i{
    display: inline-block;
   
    color: rgb(29, 155, 240);
    font-size: 2.1rem; 
    margin-right: -5px;
    position: relative;
    left: 65px;
margin-top: 15px;
}
.main-status-button{
    
    width: 100%;
}
.tweet-button-2{
float: right;
border: 0 solid black;
    box-sizing: border-box;
    border-radius: 30px;
     width: 25%;
     height: 37px;
    background: #1a8cd8;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 18px;
    padding:0px 16px;
}
.show-tweet{
    width: 100%;
  
   height: 47px;
   border: none;
   border-bottom: 1px solid grey;

  
 
}
.show-tweet p{
    color: rgb(29, 155, 240);
    font-size: 15px;
}



