*{
    box-sizing: border-box;
     padding: 0px;
    margin: 0px;
    text-decoration: none;
    }
    
    html,body{
        overflow-x: hidden;
    }
body{
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font: 15px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 350;
}
.header{
    width: 100%;
   display:flex;

}

.nav-sidebar{
    
    width:26vw ;
    border-right: 1px solid #eff3f4;
    
   
    
}
.nav{
    display:block;   
    margin-top: 10px;
    
    margin-left:30px;
    position: fixed;
}
.nav img{
margin-left: 10px;
;border-radius: 20px;
}

   .material-icons{
margin-right: 15px;
   }
   .nav ul{
    text-align: center;
    width: 58%;
    text-align: center;
   }
.nav ul li{ 
    display: flex;
  margin-top: 19px;
  



}

.nav-sidebar span{
    font-size: 30px;

margin-left: 5px;
}
.tweet-button{
    border: 0 solid #eff3f4;;
    box-sizing: border-box;
    border-radius: 30px; padding: 14px 80px;
    background: #1d9bf0;margin-top: 11px;
    color: #FFFFFF;font-weight: 500;font-size: 20px;

}

.login-nav span{
    width: 70px;
}
.nav ul li:hover{
    background-color: #c1c1c1;
    border-radius: 50px;
    display:flex;
    
  
}

.nav img:hover{
    background-color: #c1c1c1;
    
    opacity: 0.5;
}
.show-tweet:hover{
    background-color: #c1c1c1;
}
.profile:hover{
    background-color: #c1c1c1;
}
.home{
    font-weight: 500;
}
.login-nav{
    display:flex;padding-left: 0px ;
margin-top: 22px;

}
.login-nav span{
    font-size: 18px;
}
.logo{
font-size: 50px;

}
.main-header-nav button:hover{
    background-color: #c1c1c1;
    border-radius: 5px;
   
}

.username{
   display: flex; 
   flex-direction: column;
 position: relative;right:1px;
}
.username span{
    font-size: 15px;
}
.bold{
    font-weight: 500;
}
.login-nav:hover{border-radius: 20px;
    background-color: #c1c1c1;
    padding: 10px 20px; 
}
.profile-pic img:hover{
    background-color: #c1c1c1;
    
    align-items: center;
}
/*main*/ 
.main-nav{
    width:52%;
    border-right: 1px solid#eff3f4;;
   
}
.main-header{
    width: 100%;
    height: 100%;
    
}
.main-header p{
    margin-left: 24px;
    margin-top: 13px;
    border: 0 solid #eff3f4;;
    font-weight: 700;
    font-size: 20px;
}
.main-header-nav{
    display: flex;justify-content: space-between;
margin-top:40px;

}
.main-header-nav button{
    width :70%;
    border: none;
    border-bottom: 1px solid #eff3f4;;
    font-size: 15px;background: none;
    color:#536471;
    padding: 20px 20px;
}
.main-status{
    width: 100%;
}
.main-createtweet{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
    
}

.material-icons{
    font-size: 45px;
    margin-left: 19px;
}
.main-createtweet span{
    padding: 2px 0px;

}
.main-createtweet img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-left:  5px;}

.group span{
    flex-direction: column;
}
.group{
    margin-left: 10px;
}
.group select{
    border-radius: 50px;padding:0px 50px;
    font-size: 14px;;
}
.group p
{margin:0;
    color:#536471;
margin-top:5px;
}
.main-status-nav-box{
   display:flex;
   width:100%;
   margin-top: 7px;
   
   border-bottom:1px solid #eff3f4; ;
   
}
.main-status-nav{
   width: 100%;
   
}
.main-status-nav .material-icons{
    border-radius: 50px;
   
}
.main-status-nav i:hover{
    border-radius: 50px;
   background-color: #1d9bf0;
   opacity: 0.5;
   cursor: pointer;
}

.main-status-nav i{
    display: inline-block;
   
    color: rgb(29, 155, 240);
    font-size: 2.1rem; 
    margin-right: -5px;
    position: relative;
    left: 65px;
margin-top: 15px;
}
.main-status-button{
    
    width: 100%;
}
.tweet-button-2{
float: right;
border: 0 solid #eff3f4;;
    box-sizing: border-box;
    border-radius: 30px;
     width: 25%;
     height: 37px;
    background: #1a8cd8;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 18px;
    padding:0px 16px;
}
.show-tweet{
    width: 100%;
  background: none;
   height: 47px;
   border: none;
  
  
 
}
.show-tweet p{
    color: rgb(29, 155, 240);
    font-size: 15px;
}
.main-viewtweet{
    display:flex;
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;
border-top: 1px solid #eff3f4;;
height:auto;
}
.pro-pic,.group2{
    margin-top: 10px;
}
.group2{
    margin-left: 10px;
}
.pic-tweet{display: flex;
    margin-top: 20px;


}
.pic-tweet img{width: 260px;
    padding-left: 2px;
    border-radius: 30px;
    width: 280px;height: 300px;
}
.profile span, p{
    font-size: 15px;
}
.profile-pic{
    width:20%;
    padding-right: 8px;
}

.profile-pic img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    
    }
    .pro-pic{
        margin-left: 35px;
    }
    .pro-pic img{
        border-radius: 50%;
        width: 36px;
        height: 36px;
        
        }
.group2 p{
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;}
  

.name{
    margin-left:-7px;
}

.main-viewtweet .verified{
    margin-left: 2px;
    font-size: 19px;
    color: rgb(29, 155, 240);
}

.main-viewtweet .hours{
    margin-left: 3px;
    
}
.profile{
   display: flex;
}

.group2 p  {margin: 0px;}
tweet-reaction{
    display: flex;
}
.tweet-reaction span img  {
    display: inline-block;
width:18px;
margin: 12px 80px 10px 0px ;
    
}
.tweet-reaction{
    display: flex;
    
}
.nav-align{
    margin-left: 27px;
    width:20%;
    
}

.rightbar-nav{
width:30%;

flex-direction: column;

align-items: center;
}
.serachbar{
    width: 23vw;
   margin-top: 10px;
   
}
.serachbar input{
    border-radius: 40px;
   background: #eff3f4;
border:none;
}
.serachbar .material-icons{
    position: absolute;
    top: 25px;
    font-size: 25px;}
.serachbar input{
    padding: 10px 35px;
}

.trending{
width: 23vw;
height: 100vh;
    background: #eff3f4;
    margin-top: 18px;
    border-radius: 10px;
}
.trend{
    
    display: flex;
   position: relative;top: 20px;
   margin-left: 20px;
   align-items: center;
}
.more .material-icons{
    font-size: 18px;
}
trend1{
    padding: 0px;
}

.main-status-nav .material-icons :hover{
    background-color: #c1c1c1;
    

}
.getverified-box{
    width: 23vw;
    height: 18vh;
    background: #eff3f4;
    margin-top: 18px;
    border-radius: 10px;
}
.getverified-box p{
    margin: 0px;
    margin-left: 20px;
}
.verif{font-size: 20px;font-weight: 700;}
.subscribe{
    font-size: 15px;font-weight: 700;
}
p button{
    margin-top: 15px;
}
.getverified-box p button{
border: 0 solid black;
    box-sizing: border-box;
    border-radius: 30px;
     width: 40%;
     height: 37px;
    background: black;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 18px;
    padding:0px 16px;
}
.t1{
font-size: 15px;
}
.trend-tag{
    padding: 0px;
    margin: 0px;
}
.t2{
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
}
t3{font-size: 14px;}

.more{
    margin-left: 130px;
}

rightbar-nav{
    overflow-y: scroll;
}
.follow{
   
        width: 23vw;
        height: 18vh;
        background: #eff3f4;
        margin-top: 18px;
        border-radius: 10px;
        display: flex;
}

.reaction{width: 6vw;height: 5vh;
    margin-left: 130px;
    background: black;
    color: #FFFFFF;font-size: 15px;
    border-radius: 40px;border: none;
    margin-top: 30px;
}
.username1{
    display: flex; 
    flex-direction: column;
  position: relative;left:20px;

}
.username1 span{font-size: 15px;}